rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    match /users/{userId} {
      allow create: if isSignedIn() && request.auth.uid == userId;
      allow read: if true;
      allow update: if isSignedIn() && (request.auth.uid == userId || isAdmin());
      allow delete: if isAdmin();
    }
    match /users {
      allow list: if true;
    }

    match /teams/{teamId} {
      allow read: if true;
      allow write, delete: if isAdmin();
    }
    match /teams {
      allow list: if true;
    }

    match /games/{gameId} {
      allow read: if true;
      allow write: if isAdmin();
    }
    match /games {
      allow list: if true;
    }

    match /selections/{docId} {
      allow read: if isAdmin();
      allow write: if isAdmin();
    }

    match /results/{resultId} {
      allow read: if true;
      allow write: if isAdmin();
    }
    match /results {
      allow list: if true;
    }

    match /groups/{groupId} {
      allow read: if isSignedIn();
      allow write, delete: if isAdmin();
    }
    match /groups {
      allow list: if isSignedIn();
    }

    match /blogPosts/{postId} {
      allow read: if true;
      allow write, delete: if isAdmin();
    }
    match /blogPosts {
      allow list: if true;
    }

    match /vlogs/{vlogId} {
      allow read: if true;
      allow write, delete: if isAdmin();
    }
    match /vlogs {
      allow list: if true;
    }
  }
}